@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
--blue: hsl(246, 80%, 60%);

--light-orange: hsl(15, 100%, 70%);
--soft-blue: hsl(195, 74%, 62%);
--light-red: hsl(348, 100%, 68%);
--lime-green: hsl(145, 58%, 55%);
--violet: hsl(264, 64%, 52%);
--soft-orange: hsl(43, 84%, 65%);

/* Neutral */

--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--dark-blue-active: hsl(234, 30%, 33%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--pale-blue);
    background-color: var(--very-dark-blue);
}

a {
    color: var(--desaturated-blue);
    text-decoration: none;
    user-select: none;
}

a:hover {
    color: var(--pale-blue);
    cursor: pointer;
}

h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    opacity: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main .main-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 0.8em;
    overflow: hidden;
    background: var(--dark-blue);
}

main .main-card .head {
    padding: 2em 1.5em;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
}

main .main-card .head .content span {
    opacity: 70%;
    padding: 1em 0;
}

main .main-card .head .content h1.name {
    color: white;
    font-weight: 300;
}

main .main-card .head img {
    box-sizing: content-box;
    border: 3px solid var(--pale-blue);
    border-radius: 100px;
    float: left;
    max-width: 22%;
    margin-right: 1em;
}

main .main-card nav {
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0;
}

main .card {
    border-radius: 0.8em;
    overflow: hidden;
    background: var(--light-orange);
    background-image: url('./images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: 95% -15%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

main .card:hover {
    .content {
        background-color: var(--dark-blue-active);
    }

    cursor: pointer;
}

main .card .content {
    box-sizing: border-box;
    max-height: 80%;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    padding: 2em 1.5em;
    position: relative;
    background: var(--dark-blue);
    user-select: none;
}

main .card .content .menu > * {
    flex-shrink: 0;
}

main .card .content .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    font-weight: bold;
    color: white;
}

main .card .content .info .hours {
    font-size: 32px;
}

main .card .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .card.play {
    background: var(--soft-blue);
    background-image: url('./images/icon-play.svg');
    background-repeat: no-repeat;
    background-position: 95% -15%;
}

main .card.study {
    background: var(--light-red);
    background-image: url('./images/icon-study.svg');
    background-repeat: no-repeat;
    background-position: 95% -15%;
}

main .card.exercise {
    background: var(--lime-green);
    background-image: url('./images/icon-exercise.svg');
    background-repeat: no-repeat;
    background-position: 95% -5%;
}

main .card.social {
    background: var(--violet);
    background-image: url('./images/icon-social.svg');
    background-repeat: no-repeat;
    background-position: 95% -15%;
}

main .card.self-care {
    background: var(--soft-orange);
    background-image: url('./images/icon-self-care.svg');
    background-repeat: no-repeat;
    background-position: 95% -15%;
}

.attribution {
    margin: 0 2em;
    text-align: center;
}

@media (min-width: 768px) and (orientation: portrait) {
    main {
        width: 80%;
    }

    main .card {
        height: 10vh;
    }
}

@media screen and (min-width: 1440px) {
    body {
        height: 100vh;
    }

    main {
        display: grid;
        width: 70vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "main card card card"
                                "main card card card";
        height: 550px;
    }

    main .main-card {
        grid-area: main;
    }
    
    main .main-card .head {
        height: 70%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20%;
        align-items: start;
    }

    main .main-card .head .content h1.name {
        font-size: 3rem;
    }

    main .main-card .head img {
        max-width: 40%;
    }

    main .main-card nav.links {
        flex-direction: column;
        flex: 1;
        margin: 0 2em;
    }

    main .card {
        height: auto;
    }

    main .card .content {
        height: 80%;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    main .card .content .info {
        flex-direction: column;
        align-items: start;
    }

    main .card .content .info h1.hours {
        font-size: 3rem;
        line-height: 1.4em;
    }

    main .card .content .info span.previous {
        font-size: 0.8rem;
    }

    main .card.work {
        background-position: 95% 0%;
    }

    main .card.play {
        background-position: 95% 0%;
    }
    
    main .card.study {
        background-position: 95% 0%;
    }
    
    main .card.exercise {
        background-position: 95% 5%;
    }
    
    main .card.social {
        background-position: 95% 0%;
    }
    
    main .card.self-care {
        background-position: 95% 0%;
    }
}

@media screen and (min-width: 1920px) {
    main .card .content .info h1.hours {
        font-size: 4rem;
        line-height: 1.4em;
    }
}
